
/* #region Variables */
:root {
  --font-base: 16px;
  --font-md: 17px;
  --font-lg: 18px; 
  --font-size: var(--font-base);
  --line-height: 1.5;
  --max-width: 1200px;
  
  --background-color: #fff;
  --color-text: #2C3E50;
  --color-heading: var(--color-text);

  --color-link: #0066cc;
  --color-link-hover: #0066cc80;
  --color-link-active: #0066cc;
  --color-link-visited: #551A8B;

  --color-active: #3FB27F;
  --color-active-dark: #33475B; 
  --color-disabled: #ccc;

  
  --border-width: 1px;
  --border-style: solid;
  --border-color: #ccc; 
  /* --border-color: #a0a0a0;  */
  --border-radius: 0.3rem;
  --border: var(--border-width)
            var(--border-style)
            var(--border-color);

  
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --serif: ui-serif,serif;
  --monospace: 'Fira Mono', Consolas, monospace, monospace;

  --h1: 2rem;
  --h2: 1.75rem;
  --h3: 1.5rem;
  --h4: 1.25rem;
  --h5: 1.125rem;
  --h6: 1rem;
  --h7: 0.875rem;
  --h8: 0.75rem;
}
@media (min-width: 480px) {
  :root { --font-size: var(--font-md); }
}
@media (min-width: 1200px) {
  :root { --font-size: var(--font-lg); } 
}
/* #endregion Variables */
:where(*, *::before, *::after) { box-sizing: border-box; }
:where(html, body, #app) {
  height: 100vh; 
}
:where(html) {
  font-size: var(--font-size);
  overflow-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  /* accent-color: var(--accent-color); */
}
:where(body) {
  font-family: var(--sans-serif);
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 0;
  color: var(--color-text);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  overflow-y: scroll;
}
/* #region Headings */
:where(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  font-weight: 600;
}
:where(h1, .h1) { font-size: var(--h1); line-height: 1.2; }
:where(h2, .h2) { font-size: var(--h2); line-height: 1.3; }
:where(h3, .h3) { font-size: var(--h3); line-height: 1.4; }
:where(h4, .h4) { font-size: var(--h4); }
:where(h5, .h5) { font-size: var(--h5); }
:where(h6, .h6) { font-size: var(--h6); }
:where(.h7) { font-size: var(--h7); }
:where(.h8) { font-size: var(--h8); }
:where(hr) {
  height: 0; 
  overflow: hidden;
  margin: 1.5rem auto;
  background: transparent;
  
  border-width: 1px;
  border-color: var(--surface-3);
  border-style: none;
  border-bottom-style: solid;
}
/* #endregion Headings */
/* #region Text Formatting */
:where(p) { margin: 0.125rem 0 1rem; }
:where(b, strong) { font-weight: 600; }
:where(var) { margin: 0 0.5ch; }
:where(code, kbd, samp, var) {
  font-family: var(--monospace); 
  font-size: var(--h7);  
}
:where(pre) {
  font-family: var(--sans-serif); 
  white-space: pre-wrap;
  white-space: -pre-wrap;      
  white-space: -o-pre-wrap;
  word-wrap: break-word;
	overflow-x: auto;
  overflow-y: auto; 
  vertical-align: top;
  line-height: 1.3;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
}
:where(small) { font-size: var(--h7); }
:where(abbr[title]) {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
:where(blockquote) {
  --quote-color: currentColor;
  margin: 1rem 0;
  position: relative;
  /* font-style: italic; */
  padding: 0 1rem ;
  max-width: 32em;
  word-wrap: break-word;
  quotes: "“" "”" "‘" "’";  
  border-left: 1ch solid #ccc;
}
:where(blockquote cite) {
  display: block;
  margin-top: 0.5rem;
  text-align: right;
}
blockquote cite::before { content: "... " }
/* #endregion Text Formatting */
/* #region image */
:where(img, svg) {
  vertical-align: middle;
  max-width: 100%;
}
:where(svg:not([fill])) {
  fill: currentColor;
}
/* #endregion image */
/* #region form_normalize */
a, button, input, textarea, summary {
  --outline-size: max(2px, 0.08em);
  --outline-style: none;
  --outline-color: var(--color-active);
  --outline-offset: 0;
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}
:where(a, button, input, textarea, summary):focus-visible { 
  --outline-style: solid; }
:where(legend) { padding: 0 0.4em; margin-left: -0.4em; }
:where(progress) { vertical-align: baseline; }
:where(:-moz-ui-invalid) { box-shadow: none; }
:where(::-webkit-inner-spin-button,
::-webkit-outer-spin-button) { height: auto; }
:where(::-webkit-input-placeholder) { color: inherit; opacity: 0.54; }
:where(::-webkit-search-decoration) { -webkit-appearance: none; }
:where(::-webkit-file-upload-button) {
  -webkit-appearance: button; 
  font: inherit; 
}
/* #endregion form_normalize */
/* #region Lists */
:where(ol, ul) { list-style-position: inside; }
ul, ol { padding: 0; }
ul ul, ol ol, ul ol, ol ul { padding-left: 1rem; }
ol ol { list-style-type: lower-latin; }
ol ol ol { list-style-type: lower-roman; }
/* unlist */
.unlist, .unlist ol, .unlist ul, 
[unlist], nav ol, nav ul {
  list-style-type: none;
  padding: 0;
}
/* dl */
:where(dt) { font-weight: 600; }
:where(dd) { margin-left: 2ch; }
dt:not(:first-child) { margin-top: 0.5rem; }
dd:last-child { margin-bottom: 0.5rem; }
/* details */
:where(details) {
  display: block;
  margin-bottom: 1rem;
}
details p { margin: 0 0 ; }
details li { margin-left: 1.75rem; }
/* :where(details[open]>summary) {
	margin-bottom: 0.2rem;
} */
/* #endregion Lists */
/* #region Links */
:where( a ) { color: var(--color-link); text-decoration: none; }
:where( a:not(:hover) ) { text-decoration: none; }
:where( a:hover:not(:active) ) { opacity: 0.6;  text-decoration: underline; }
/* :where( a:active) { text-decoration: none; } */
/* #endregion Links */
/* #region forms */
:root { 
  --btn-border-width: 1px;  
  --btn-border-color: #ccc;
  --btn-border-style: solid;
  --btn-border-radius: 0.3em;
  --btn-border: 
    var(--btn-border-width)
    var(--btn-border-style)
    var(--btn-border-color);

  --color-btn: transparent;
  --color-text-field: transparent;
}
/* #region button */
:where(button, select) { text-transform: none; }
:where( button, select, [type="button"],
[type="submit"], [type="reset"]) {  
  margin: 0;
  font-family: inherit;
  font-size: calc(1em - 1px);
  height: calc(2em + 2px);
  padding: 0 0.8em ;
  background-color: var(--color-btn);
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  /* outline: none;         */
  cursor: pointer;
  vertical-align: baseline;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}
:where( .btn:hover:not(:active),
button:hover:not(:active, :disabled),
[type="button"]:hover:not(:active, :disabled),
[type="submit"]:hover:not(:active, :disabled),
[type="reset"]:hover:not(:active, :disabled),
[type="color"]:hover:not(:active, :disabled)) { 
  opacity: 0.6; 
}
.btn { cursor: pointer; }
:where(select > option) { 
  color: inherit;        
  border: var(--btn-border);
  /* mostly not stylable */
}
:where(optgroup) {
  margin: 0;
  font-family: inherit;
}
:where( [type="color"] ) { 
  margin: 0;
  font-family: inherit;
  font-size: calc(1em - 1px);
  height: calc(2em + 2px);
  line-height: 1.5;
  background-color: var(--background-color);
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  /* outline: none;         */
  cursor: pointer;
  vertical-align: top;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}
/* #endregion button */
/* #region textbox */
:where([type="text"], [type="number"],
[type="search"],
[type="email"], [type="tel"],
[type="url"], [type="password"],  
[type="file"], [type="image"],
[type="date"], [type="time"],
[type="datetime-local"],
[type="week"], [type="month"]) {
  margin: 0;
  font-family: inherit;
  font-size: calc(1em - 1px);
  height: calc(2em + 2px);
  line-height: 1.5;
  padding: 0 0.4em;
  background-color: var(--text-field);
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  /* outline: none;         */
  vertical-align: baseline;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  max-width: 100%;
}
:where([type="search"]) { -webkit-appearance: textfield; -moz-appearance: textfield; appearance: textfield; }
:where( textarea ) {
  margin: 0;
  font-family: inherit;
  font-size: calc(1em - 1px);
  min-height: calc(2em + 2px);
  line-height: 1.5;
  background-color: var(--text-field);
  border-style: solid;
  padding: 0.4em;
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  /* outline: none;         */
  vertical-align: baseline;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  max-width: 100%;
}
:where(button[disabled], input[disabled], .disabled) { 
  cursor: default; }
/* #endregion textbox */
/* #region checkbox-radio */
:where([type="checkbox"], [type="radio"]) {		
  --check-color: #333;
  --check-disabled: #ccc;
  box-sizing: border-box;
  width: 1em;
  min-width: 1em;
  height: 1em;
  font-size: 1em;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1em 1em;
  border-width: 0.125em;
  border-color: var(--check-color);
  border-style: solid;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  vertical-align: baseline;
  margin-bottom: -0.125em;
}
:where([type="checkbox"]) { border-radius: .15em;	}
:where([type="radio"]) { border-radius: 50%; }
[type='checkbox']:disabled, [type='radio']:disabled  {
  border-color: var(--check-disabled);
  cursor: default;
}
[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='m 3.5,7.6464468 3,2.9999992 6,-5.9999992' fill='none' stroke='%23333' stroke-width='2' /%3E%3C/svg%3E ");
}
[type='checkbox']:checked:disabled {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='m 3.5,7.6464468 3,2.9999992 6,-5.9999992' fill='none' stroke='%23ccc' stroke-width='2' /%3E%3C/svg%3E ");
}
[type='radio']:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='4' fill='%23333' /%3E%3C/svg%3E%0A");
}
[type='radio']:checked:disabled {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='4' fill='%23ccc' /%3E%3C/svg%3E%0A");	
}
/* #endregion checkbox-radio */
/* #region codeblock */
pre.codeblock, pre[codeblock] {
  font-size: var(--h7); 
  font-family: var(--monospace); 
	background-color: WhiteSmoke;
	border-radius: var(--border-radius);
  filter: drop-shadow(-1px -1px 0 rgba(224, 224, 224, 0.3))
  drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
	padding: 1em 1.5em 1.5em;
}
/* #endregion codeblock */
