/* #region reset 8/1/24 */
:root {
  color-scheme: light dark;
  --font-size: 16px;
  --line-height: 1.5;
  --fg: hsl(210,30%,24%);
  --bg: #fff;
  --link-color: hsl(210,100%,40%);
  --active-color: hsl(150,50%,50%);
  --border: 1px solid #ccc;
  --border-radius: 0.25em;
  --block-margin: 0 0 1em 0;
  --small-block-margin: 0 0 0.5em 0;
  --sans-serif: system-ui, sans-serif;
  --serif: ui-serif, serif;
  --monospace: ui-monospace, monospace, monospace;
  --duration: 500ms;
}
html[data-theme="dark"] {
  --fg: #fff;
  --bg: hsl(210,30%,24%);
}

:where(*, *::before, *::after) { box-sizing: inherit; }
:where(html) {
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--bg);
  box-sizing: border-box;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  tab-size: 2;
  -moz-tab-size: 2;
  transition: background-color var(--duration);
}
:where(body) {
  font-family: var(--sans-serif);
  font-size: 1em;
  color: var(--fg);
  height: 100dvh;
  margin: 0;
  overflow-y: scroll;
  transition: color var(--duration);
}
:where(hr) {
  height: 0;
  margin: 1.5rem auto;
  border: 1px none #ccc;
  border-bottom-style: solid;
}
:where(h1, h2, h3) {
  text-wrap: balance;
}
:where(h1, .h1) {
  font-size: calc(1rem + 8px);
  margin: var(--block-margin);
}
:where(h2, .h2) { font-size: calc(1rem + 4px); }
:where(h3, .h3) { font-size: calc(1rem + 2px); }
:where(h4, .h4) { font-size: 1rem; }
:where(h5, .h5) {
  font-size: calc(1rem - 1px);
  line-height: 1.6;
}
:where(h6, .h6) {
  font-size: calc(1rem - 2px);
  line-height: 1.714;
}
:where(small, .h7) {
  font-size: calc(1rem - 3px);
  line-height: 1;
}
:where(sub, sup, .h8) {
  font-size: calc(1rem - 4px);
  line-height: 1;
}
:where(h1, .h1, h3, .h3) { line-height: 0 0 1.333em; }
:where(h2, h3, h4) { margin: 0 0 0.25em; }
:where(h5, .h5, h6, .h6) { margin: 0; }
:where(p) {
  margin: var(--block-margin);
  max-width: 100%;
}
:where(ul, ol) {
  margin: var(--block-margin);
  list-style-position: inside;
}
:where(ul:not(ul ul), ol:not(ol ol)) { padding: 0; }
:where(ul ul, ol ol) {
  padding-left: 2ch;
  margin: var(--small-block-margin);
}
:where(ol ol) { list-style-type:lower-alpha; }
:where(ol ol ol) { list-style-type:lower-roman; }
:where(ol ol ol ol) { list-style-type: decimal }
:where(ul ul ul) { list-style-type: "- "; }
:where(nav) :where(ol, ul) { list-style-type: none; }
:where(pre) {
  margin: var(--block-margin);
  white-space: pre-wrap;
  overflow: auto;
}
:where(pre, code, kbd, samp) {
  font-size: 1em;
  font-family: var(--monospace);
}
:where(b, strong) { font-weight: bolder; }
:where(a) {
  color: var(--link-color);
  &:active { text-decoration: none; }
}
:where(header a, nav a, a.unset) {
  color: inherit;
  &:not(:hover),
  &:active { text-decoration: none; }
}
/* #endregion reset */

/* #region forms 8/1/24 */
:root {
  --x: 1.5; /* button height multiplier */
  --number-width: 6em;
  --button-color: transparent;
  --textbox-color: transparent;
  --border-color: #ccc;
  --outline-color: hsl(214,100%,44%);
  --button-border: 0.0625em solid var(--border-color);
  --outline: 1px solid var(--outline-color);
  --button-radius: 0.25em;
  --button-shadow: none;
  --textbox-shadow: none;
  --text-shadow: inherit;
  --vertical-align: top;
}
input:not([type="checkbox"], [type="radio"]),
select, textarea, button, a.button, [type="number"] {
  appearance: auto;
  font: inherit;
  color: inherit;
  font-size: calc(1em - 2px);
  text-transform: none;
  text-shadow: var(--text-shadow);
  height: calc(1rem * var(--x));
  line-height: calc(1 * var(--x));
  max-width: 100%;
  padding: 0 0.5rem 0;
  margin: 0;
  border: var(--button-border);
  border-radius: var(--button-radius);
  outline: none;
  vertical-align: var(--vertical-align);
  &:disabled { 
    cursor: default;
    box-shadow: none;
    background: hsla(0, 0%, 50%, 0.05);
    opacity: 0.6;
  }
}

/* #region button */
button, select, a.button, [type="button"], 
[type="submit"], [type="reset"], 
[type="color"], [type="image"] { 
  background-color: var(--button-color);
  box-shadow: var(--button-shadow);
  cursor: pointer;
  &:hover:not(:active,:disabled) { opacity: 0.6; }
  display: inline-flex;
}
select {
  min-width: 8em;
  width: max-content;
}
select, select > option {
  color: inherit;
  background-color: var(--bg);
}
select[multiple] {
  padding: 0;
  height: fit-content;
  box-shadow: unset;
  & option { padding: 0.1875em 0.5em; }
  & option:checked { background-color: hsla(0,0%,50%,0.1); }
}
a.button {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  line-height: calc((1em + 2px) * var(--x));
}
input[type="color"] { 
  width: 3em; 
  padding: 0.375em;
}
optgroup {
  margin: 0;
  font-family: inherit;
}
.btn { cursor: pointer; }
button.unset {
  font-size: var(--font-size);
  line-height: var(--line-height);
  height: unset;
  padding: 0;
  border: none;
  border-radius: 0;
  background: unset;
  text-align: unset;
  box-shadow: unset;
}
[type="image"] {
  vertical-align:  var(--vertical-align) !important;
}
/* #endregion button */

/* #region textbox */
[type="text"],[type="number"],[type="search"],
[type="email"],[type="password"],
[type="tel"], [type="url"],
[type="datetime-local"],[type="date"],
[type="week"],[type="month"],[type="time"] {  
  background-color: var(--textbox-color);
  box-shadow: var(--textbox-shadow);
  &:focus {
    outline: var(--outline);
    border-color: var(--outline-color);
  }
}
input[type="number"] {
  width: var(--number-width);
  max-width: 100%;
  min-width: 4em;
  padding-right: 0;
}
textarea {
  line-height: 1.5;
  height: 5em; 
  background-color: var(--textbox-color);
  vertical-align: var(--vertical-align);
}
/* #endregion textbox */

/* #region checkbox */
label:has([type="checkbox"], [type="radio"]) { 
  display: flex;
  width: max-content;
  align-items: center;
  gap: 0 0.375em;
  cursor: pointer;
}

[type="checkbox"], [type="radio"] {
  --vertical-align: top;
  --duration: 500ms;
  position: relative;
  appearance: unset;
  font-size: 1em;
  height: 1.5em;
  width: 1.5em;
  vertical-align: var(--vertical-align);
  margin: 0;
  user-select: none;
  cursor: pointer;
  &::before, &::after {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.5em;
    mask-size: 1em;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: currentColor;
    transition: var(--duration);
  }
  &::after { scale: 0; }
  &:checked::after { scale: 1; }
}
[type="checkbox"] {
  &::before {
     mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath  d='M3 0C1.355 0 0 1.355 0 3v10c0 1.645 1.355 3 3 3h10c1.645 0 3-1.355 3-3V3c0-1.645-1.355-3-3-3Zm0 2h10c.571 0 1 .429 1 1v10c0 .571-.429 1-1 1H3c-.571 0-1-.429-1-1V3c0-.571.429-1 1-1Z'/%3E%3C/svg%3E%0A");
  } 
  &::after {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='m6.756 11.733 6.266-6.266-1.244-1.245-5.022 5.022-2.534-2.533-1.244 1.245Z'/%3E%3C/svg%3E%0A");
  }
}
[type="radio"] {
  &::before {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 0 0-8 8 8 8 0 0 0 8 8 8 8 0 0 0 8-8 8 8 0 0 0-8-8zm0 2a6 6 0 0 1 6 6 6 6 0 0 1-6 6 6 6 0 0 1-6-6 6 6 0 0 1 6-6z'/%3E%3C/svg%3E ");
  }
  &::after {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Ccircle cy='8' cx='8' r='4'/%3E%3C/svg%3E%0A");
  }
}
/* #endregion checkbox */
/* #endregion forms */
