// _variables.scss // 

// #region FONT ==================== //
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');
$sans-serif: Lato, Roboto, sans-serif;
$serif: Georgia, serif;
$headingFont: Lato, Roboto, sans-serif;
// $monospace: Menlo, monospace;
$monospace: "Inconsolata", "Monaco", "Menlo", "Consolas", "Courier New",Courier,monospace;

// #endregion FONT ==================== //



// #region ROOT ==================== //
:root {
  --fontColor: #333333;
  --backgroundColor: #f7f7f7;
  --headingColor: #222222;
  --linkColor: #1E90FF;
  --activeColor: #ff8f1f;
  --dangerColor: #ff1e1e;
  --accentColor: #1effff;
  
  --muted-1: rgb( 51, 51, 51, 0.1);
  --muted-2: rgb( 51, 51, 51, 0.2);
  --muted-3: rgb( 51, 51, 51, 0.3);
  --muted-4: rgb( 51, 51, 51, 0.4);
  --muted-5: rgb( 51, 51, 51, 0.5);
  --muted-6: rgb( 51, 51, 51, 0.6);
  --muted-7: rgb( 51, 51, 51, 0.7);
  --muted-8: rgb( 51, 51, 51, 0.8);
  --muted-9: rgb( 51, 51, 51, 0.9);

}
// #endregion ROOT ==================== //



// #region COLORS ================== //
$fontColor: #333333 !default;
$backgroundColor: #f7f7f7 !default;
$headingColor: #222222 !default;
$linkColor: #1E90FF  !default;
$visitedColor: scale-color($linkColor, $alpha: -25%, $saturation: -25%) !default;
$hoverColor: scale-color($linkColor, $alpha: -40%) !default;
$activeColor: scale-color($linkColor, $alpha: -70%) !default;
// $hoverColor: #85c2ff  !default;
$muteColor: scale-color($fontColor, $alpha: -70%) !default;
$muted: scale-color($fontColor, $alpha: -70%) !default;
$white: #FFFFFF !default;

$codeBackgroundColor: #F5F4F2 !default;
// #endregion COLORS ================== //

// change in gridlines partial
$showGrid: false;


 
